<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bienvenido a Mercado Liebre</title>
        <script src="https://kit.fontawesome.com/033e23298f.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href='/css/styles.css'>
    </head>
<body>
    <header>
        <div class="main-header"> <img src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre" class="logo"/>
          <span class="barra"><input type="text" placeholder="Buscar productos, marcas"><bottom><i class="fas fa-search"></i></bottom></span>
          <p class="lema"><i class="fa-solid fa-hand-holding-dollar"></i></i>Comprá en cuotas y sin tarjeta de crédito</p></div>
         <br> <ul type="none">
              <li><a href=" ">Ofertas</a></li>
              <li><a href=" ">Tiendas Oficiales</a></li>
              <li><a href=" ">Vender</a></li>
              <li><a href=" ">Ayuda</a></li>
              <br>
              <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
              <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
              <li><a href=" ">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
          </ul></nav>
          <div class="burger-menu">
              <i class="fas fa-bars"></i>
          </div>
          <br>
      </header>
    <span class="form-log">
    <form action="/" method="POST">
        <input type="text" name="user" placeholder="Nombre de usuario" required class="i-form">
        <br>
        <br><input type="password" name="pass" placeholder="Contraseña" required class="i-form">
        <br>
        <br><button class="b-enviar" type="submit" value="enviar">Enviar</button>
    </form>
</span>
<footer>
    <div class="pie-pag">
     <div class="caja"><p class="font-foot"><i class="icon-footer"><i class="fa-regular fa-credit-card"></i></i>
    <p><strong>Pagá con tarjeta o en efectivo</strong></p>
       <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p></p></div>
        <br>
     <div class="caja"><p class="font-foot"><i class="icon-footer"><i class="fa-solid fa-gift"></i></i>
        <p><strong>Envío gratis desde $ 2.500 </strong></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p></p></div>
        <br>
    <div class="caja"><p class="font-foot"><i class="icon-footer"><i class="fa-solid fa-user-shield"></i></i>
    <p><strong>Seguridad, de principio a fin</strong> </p>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p></p></div> </div> 
    <br>
 
 <div class="footer1"><p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong> </p></div>
</footer>
</body>
</html>