
*{
    box-sizing: border-box;
}
h3{
    font-size: 24px;
}
body{
    font-family: 'Roboto', sans-serif;;
    font-size: 12px;
    background-color: #ebebeb;
}
footer{
    margin: 5px;
    width: 90%
}

header{
    background-color: #EAC926;
    width: 100%;
    padding: 20px;
}

.desc{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    text-align: right;
    padding: 1px
}
.precio{
    font-size: 18px;
    width: 30%;
    max-width: 300px;
    text-align: left;
}

.burger-menu{
    margin: auto;
    text-align: center;
    background-color:#1259c3;;
    color: white;
    display:block;
    max-width: 40px;
    padding: 10px;
    border-radius: 3px;

}
.icon-footer{
    color: #1259c3;
    margin: 10px;
    font-size: 2em;
}
.pie-pag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.banner{
   width: 100%;
   margin: 0px
}
p{
        font-size: 16px;
}

.camion{
    color: #39b54a;
    margin: 0px;
    padding: 0px
}

main{
    width: 90%;
}
.logo{
    width: 50%;
    padding: 2px;
    max-width: 300px;
}
.lema{
    max-width:300px;
    text-align: right;
}
.barra{
    width: 50%;
    max-width: 300px
}
article{
    display: block;
    margin: 10px;
}
.descrip{
    display: none;
}


div.art{
        border-top: solid, 1px;
        background-color: white ;
        padding: 15px; 
        position: relative; 
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: stretch
}
.opc{
    width: 10%;
    text-align: justify;
}
ul{
    display: none;
}

.b-enviar{
    width: 40%;
    background-color: #1259c3;
}
.i-form{
    width: 40%
}
.form-log{
    text-align: center;
    margin: 7px;
}
.b-enviar:hover {
    background-color: #0022AA;
    color:white;
    border-radius: 1px;
    transition: 0.2s
}
.form-reg{
 text-align: center;
 margin:7px;

}

div.caja{
        border-top: solid, 1px;
        background-color: white ;
        padding: 15px; 
          
}
.font-foot{
 text-align: center;
}
img{
    width: 100%;
}
.main-header{
 margin:2px;
 margin-bottom: 3px;   
 display:flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-content: stretch;
}
i.camion{
    display: block;
    font-size: 16px;
    padding: 5px;
    width:30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius:50%;
    position: absolute;
    right: 20px;
    top: -15px
}
.prod{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
:required:hover:invalid{
    border: solid red;
}
@media (min-width: 361px){
    .burger-menu{
    display:none
    }
    article{
        transition: all 250ms;
    }
    article:hover{
        box-shadow: 0px 0px 10px rgb(100,100,100);
        }
    article:hover .descrip{
     display: inline-block;
    }
    .barra{
        width: 30%;
        margin: 1px
    }
    ul{
        display: flex;
        justify-content: space-around
    }
    .logo{
        width: 30%;
    }
    article:hover .camion{
        transform: rotateX(+90deg)
       }
     .prod{
        flex-direction: row;
        justify-content: space-around;

     }  
    }
    
    @media (min-width: 769px) {
        .prod{
        flex-direction: row;
     } 
        .pie-pag{
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        } 
        .icon-footer{
        transition: 240ms;
        }
        .icon-footer:hover{
            color:#e6ff5b;
        }

    }